* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.ScreatePost {
  height: 70vh;
  width: 100%;
  /* background-color: rgba(95, 158, 160, 0.665); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/07/abstract-1264071__340.png");
  /* background-image: url("../../../public//teacher.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 260px 1px; */
}

.ScreatePost1 {
  background-color: rgba(173, 216, 230, 0.757);
  height: 30vh;
  width: 20%;
  border: 5px soid lightblue;
  border-radius: 5px;
}

.ScreatePost1 input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  height: 4vh;
  width: 100%;
}

.btn {
  border: none;
  background-color: blue;
  color: white;
  position: relative;
  border-radius: 5px;
  top: 20px;
  height: 4vh;
  width: 76%;
  left: 0px;
}
